.Projects {
    padding: 5em 0;
}

.colCss {
    height: 30em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.colCss img {
    height: 22em;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 0.6em;
    padding-top: 0.6em;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4em;
}

/* Estilos para telas menores que 426px (como dispositivos móveis) */
@media (max-width: 425px) {
    .imgMobile {
        height: 26em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .imgMobile img {
        height: 14rem;
    }
}