.header-component {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    width: 100%;
}

.img-styles {
    height: 5.8rem;
}

.header-component ul li {
    margin-right: 3rem;
    display: flex;
    align-items: center;
}

.header-component ul li a {
   font-family: 'Roboto', sans-serif;
   text-decoration: none;
   color: white;
   font-weight: 700;
   font-size: 1rem;
   transition: color 0.2s ease, margin-bottom 0.2s ease;
}

.header-component ul li a:hover{
    margin-bottom: 0.3rem;
    font-size: 1.1rem;
}

.header-component ul{
    padding: 0;
    margin: 0;
}

/*Bootstrap adaptations*/

#offcanvasExample {
    width: 60%;
}

#offcanvasExample li a {
    font-size: 1.2rem;
    color: black;
    text-decoration: underline;
}

#offcanvasExample li {
    height: 6rem;
    display: flex;
    align-items: center;
}

#offcanvasExample li:hover {
    border-bottom: 2px solid black;
    font-size: 1.3rem;
}

/* Estilos para telas menores que 426px (como dispositivos móveis) */
@media (max-width: 425px) {
    .header-component {
        height: 10vh;
    }

}