header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fffbf2;
}

li {
    display: inline-flex;
}

.custom-a{
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    margin: 0 2rem;
    color: rgb(15, 15, 15);
    font-weight: 600;
    font-size: 1.4rem;
}

.custom-a:focus, .custom-a:hover {
    color: goldenrod;
}

.custom-active {
    background-color: #fffbf2 !important;
    color: goldenrod !important;
}


.toggle-container {
    width: 4.375rem; /* 70px em rem */
    height: 1.875rem; /* 30px em rem */
    border-radius: 0.9375rem; /* 15px em rem */
    background-color: #000000;
    cursor: pointer;
    overflow: hidden;
}
  
.toggle-ball {
    position: absolute;
    width: 1.875rem; /* 30px em rem */
    height: 1.875rem; /* 30px em rem */
    border-radius: 0.9375rem; /* 15px em rem */
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
}
  
.toggle-container.true .toggle-ball {
    transform: translateX(2.5rem); /* 40px em rem */
}
