.Apresentation {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
}

.container-main {
    display: flex;
    flex-direction: column;
    justify-items: start;
    align-items: start;
}

.container-main span {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 12.4em;
    display: inline-block;
    line-height: 1;
}

.container-main p {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.6em;
    display: inline-block;
}

.container-main div div img{
    height: 4.6em;
}

.container-images {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6em;
    margin-left: 1em;
}

@keyframes jumpAnimation {
    0%, 100% {
        transform: translateY(0);
    }
    25%, 75% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(0);
    }
  }
  
  /* Aplicando a animação ao elemento desejado */
  .animationHi {
    animation: jumpAnimation 2s infinite;
    font-size: 1.4em !important;
}

/* Estilos para telas menores que 426px (como dispositivos móveis) */
@media (max-width: 425px) {
    .container-subtitles {
        flex-direction: column;
        margin-bottom: 3em;
    }

    .container-images a img{
        height: 6.8em !important;
    }

    .container-images {
        justify-content: start;
        margin: 0;
    }

    .container-main span {
        font-size: 8.8em;
    }

    .Apresentation{
        height: 60vh;
    }
}

