.Home {
    height: 100vh;
    background-color: #fffbf2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerHome {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

span {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 10rem;
    line-height: 1;
}

p {
    font-family: 'Roboto', sans-serif !important;
}

video {
    height: 35rem;
    width: 25rem;
    border: 3px solid goldenrod;
}

.animationHi {
    display: inline-block;
    font-size: 1.5em;
    animation: bounce 0.5s infinite alternate;
}
  
@keyframes bounce {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
}


/* Estilos para telas menores que 1024px */
@media (max-width: 1024px) {

    span {
        font-size: 8.5rem;
    }

}

/* Estilos para telas menores que 425px (como dispositivos móveis) */
@media (max-width: 768px) {

    span {
        font-size: 7.5rem;
    }

}

/* Estilos para telas menores que 426px (como dispositivos móveis) */
@media (max-width: 425px) {

    .containerHome {
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }

    span {
        font-size: 7rem;
    }

    video {
        height: 25rem;
        width: 35rem;
    }

    .Home {
        max-height: 85vh;
    }
    
}

