footer {
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 425px) {

    footer {
        max-height: 10vh;
    }
}