.header-component {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    width: 100%;
}

.img-styles {
    height: 80px;
    width: 80px;
    margin: 1em;
    margin-left: 3em;
}

.header-component ul li {
    margin-right: 4em;
    display: flex;
    align-items: center;
}

.header-component ul li a {
   font-family: 'Roboto', sans-serif;
   text-decoration: none;
   color: #fff;
   font-weight: 700;
   font-size: 1.2em;
   transition: color 0.2s ease, margin-bottom 0.2s ease;
}

.header-component ul li a:hover{
    margin-bottom: 0.2em;
}

.header-component ul{
    padding: 0;
    margin: 0;
}